body {
    background: url('../../assets/images/aqua-background.jpg');
    background-size: cover;
    background-position: center;
}

.results {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 24px;
}

.results-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

/* --- Категория --- */

.category {
    margin-bottom: 90px;
}

.category-title {
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 36px;
    padding-left: 10px;
}

/* --- Сетка карточек --- */

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* --- Карточка --- */

.product-card {
    display: flex;
    align-items: center;
    gap: 24px;

    padding: 32px 24px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    border: 1px solid var(--text-muted);

    width: clamp(300px, 27vw, 450px);
    max-width: 100%;
    box-sizing: border-box;
}

.product-card img {
    transform: scale(1.1);
    width: clamp(100px, 12vw, 160px);
    height: clamp(130px, 16vw, 210px);
    object-fit: contain;
    flex-shrink: 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    word-break: break-word; ;
    max-width: 100%;
}

.product-info p {
    line-height: 1.5;
    font-size: 26px;
    margin-bottom: 12px; 
}

.product-info .price {
    font-size: 16px;
}

/* --- Адаптив --- */

@media (max-width: 1100px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}