.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.75rem;
}

.nav {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: var(--text);
}

.nav a:hover {
    color: var(--green-dark) /* жирный при наведении */
}

.nav a.active {
    font-weight: 700;
}

.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.375rem;
}

.brand img {
    width: 3.75rem;
    height: auto;
}